.curved-loop-jacket {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  user-select: none;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  overflow: visible;
  display: block;
  font-size: 60px;
  fill: #1A1615;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.04em;
}

@media (max-width: 768px) {
  .curved-loop-svg {
    font-size: 66px;
    letter-spacing: 0.05em;
  }
}
